@charset "UTF-8";

body {
    color:maroon;
    background-color: lightblue;
    font-size:Arial, helvetica, sans-serif;
    font-size: 20px;

}
h1{
    color: blue;
}
h2{
    color: darkblue;
}
p{
    text-align: justify;
}